<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiAnalysis.SimpleJsonAnalyzer" version="1.3.0" targetFramework="net462" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net462" />
  <package id="Microsoft.TemplateEngine.Abstractions" version="1.0.0-beta2-20170518-234" targetFramework="net462" />
  <package id="Microsoft.TemplateEngine.Core" version="1.0.0-beta2-20170518-234" targetFramework="net462" />
  <package id="Microsoft.TemplateEngine.Core.Contracts" version="1.0.0-beta2-20170518-234" targetFramework="net462" />
  <package id="Microsoft.TemplateEngine.Utils" version="1.0.0-beta2-20170518-234" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
</packages>