<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
<!--{[{-->
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
<!--}]}-->
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio"
  IgnorableNamespaces="uap rescap genTemplate<!--{[{--> com desktop<!--}]}-->">

      <Extensions>
<!--{[{-->
		    <!--Register COM CLSID LocalServer32 registry key-->
		    <com:Extension Category="windows.comServer">
		    <com:ComServer>
			    <com:ExeServer Executable="EmulatorApp232.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
			    <com:Class Id="0E501982-980F-4DDD-B04C-98F63CB29B3D" DisplayName="Toast activator"/>
			    </com:ExeServer>
		    </com:ComServer>
		    </com:Extension>

		    <!--Specify which CLSID to activate when toast clicked-->
		    <desktop:Extension Category="windows.toastNotificationActivation">
		    <desktop:ToastNotificationActivation ToastActivatorCLSID="0E501982-980F-4DDD-B04C-98F63CB29B3D" />
		    </desktop:Extension>
<!--}]}-->
      </Extensions>