<#@ template debug="true" hostspecific="true" language="C#" #>
<# 
var root = @"..\..\..\TemplateStudioForWinUICs\Templates\WinUI";
var outputNamespace = "TemplateStudioForWinUICs.Tests";
#>
<#@ include file="..\..\SharedFunctionality.Tests\GeneratedCode\TemplateTestDataGen.t4" #>
