<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.0.240" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net462" />
</packages>