<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
<!--{[{-->
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
<!--}]}-->
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  IgnorableNamespaces="uap rescap genTemplate<!--{[{--> com desktop<!--}]}-->">
  <Applications>
    <Application Id="App"
      EntryPoint="$targetentrypoint$">
      <Extensions>
<!--{[{-->
        <!--Register COM CLSID LocalServer32 registry key-->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="Param_ProjectName.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
              <com:Class Id="5b23992e-eb23-4f0b-88bf-52a7527620f4" DisplayName="Toast activator"/>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <!--Specify which CLSID to activate when toast clicked-->
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="5b23992e-eb23-4f0b-88bf-52a7527620f4" />
        </desktop:Extension>
<!--}]}-->
      </Extensions>
    </Application>
  </Applications>
</Package>