<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugin.Media" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="xamarinios10" />
</packages>