<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Abstractions" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Core" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Core.Contracts" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Edge" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Orchestrator.RunnableProjects" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Utils" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateSearch.Common" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="NuGet.Common" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Configuration" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Credentials" version="6.6.1" targetFramework="net481" />
  <package id="NuGet.Frameworks" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Packaging" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Protocol" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Versioning" version="6.7.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>