<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--{[{-->
  <connectionStrings>  
    <add name="MyAppConnectionString" connectionString="Data Source=*server*\*instance*;Initial Catalog=*dbname*;Integrated Security=True;Pooling=False" />  
  </connectionStrings>  
<!--}]}-->
</configuration>
