<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectReunion" version="0.5.6" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.DWrite" version="0.5.6" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.Foundation" version="0.5.6" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.WinUI" version="0.5.6" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210211.2" targetFramework="native" />
</packages>