<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.methodDisplay" value="method"/>
    <!-- To send telemetry to custom service instance (your Application Insights instance) edit 
    file 'test.config.json' and add your key. -->
    <add key ="JsonConfigFile" value ="test.config.json" />
    <add key="JsonConfigFile" value="test.config.json.with.secrets" />
  </appSettings>
</configuration>