<#@ template language="C#" inherits="SyncSummaryTemplate" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

Este template está en español. Tu carpeta temporal está en: <#= OutputPath #> 
