<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.7.37355" targetFramework="net481" />
  <package id="envdte100" version="17.7.37355" targetFramework="net481" />
  <package id="envdte80" version="17.7.37355" targetFramework="net481" />
  <package id="envdte90" version="17.7.37355" targetFramework="net481" />
  <package id="envdte90a" version="17.7.37355" targetFramework="net481" />
  <package id="MessagePack" version="2.5.108" targetFramework="net481" />
  <package id="MessagePack.Annotations" version="2.5.108" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Build.Framework" version="17.7.2" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.IO.Redist" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.NET.StringTools" version="17.7.2" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="Microsoft.NETCore.Targets" version="6.0.0-preview.4.21253.7" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Analyzers" version="4.3.50" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Framework" version="4.3.50" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Resources" version="4.3.233" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Abstractions" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Core" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Core.Contracts" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Edge" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Orchestrator.RunnableProjects" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateEngine.Utils" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.TemplateSearch.Common" version="8.0.100-preview.7.23375.4" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.CommandBars" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition" version="17.7.18" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="17.7.18" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.12.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.14.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.15.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.16.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Designer.Interfaces" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Editor" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.7.37349" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Interop" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Language" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Language.NavigateTo.Interfaces" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Language.StandardClassification" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.LanguageServer.Client" version="17.7.20" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Linux.ConnectionManager.Store" version="17.7.37349" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Package.LanguageService.15.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.7.37349" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.52" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.7.9" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.SDK" version="17.7.37357" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.10.10" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.7.2175" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TaskRunnerExplorer.14.0" version="14.0.0" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Telemetry" version="17.7.57" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.7.188" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.10.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.11.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.12.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.9.0" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextTemplating.VSHost" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading" version="17.7.30" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.7.30" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.42" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.VCProjectEngine" version="17.7.37357" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.VSHelp" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.VSHelp80" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.WCFReference.Interop" version="17.7.37355" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Web.BrowserLink.12.0" version="12.0.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="Nerdbank.Streams" version="2.10.69" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="NuGet.Common" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Configuration" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Credentials" version="6.6.1" targetFramework="net481" />
  <package id="NuGet.Frameworks" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Packaging" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Protocol" version="6.7.0" targetFramework="net481" />
  <package id="NuGet.Versioning" version="6.7.0" targetFramework="net481" />
  <package id="stdole" version="17.7.37355" targetFramework="net481" />
  <package id="StreamJsonRpc" version="2.16.36" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.ComponentModel.Composition" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Composition" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Composition.AttributedModel" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Composition.Convention" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Composition.Hosting" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Composition.Runtime" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Composition.TypedParts" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net481" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.2-mauipre.1.22102.15" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Threading.AccessControl" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Threading.Tasks.Dataflow" version="8.0.0-preview.7.23375.6" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="VSLangProj" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj100" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj110" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj140" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj150" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj157" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj158" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj165" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj2" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj80" version="17.7.37355" targetFramework="net481" />
  <package id="VSLangProj90" version="17.7.37355" targetFramework="net481" />
</packages>