<#@ template debug="true" hostspecific="true" language="C#" #>
<# 
var root = @"..\..\..\TemplateStudioForWinUICpp\Templates\WinUI";
var outputNamespace = "TemplateStudioForWinUICpp.Tests";
#>
<#@ include file="..\..\SharedFunctionality.Tests\GeneratedCode\TemplateTestDataGen.t4" #>
