<#@ template debug="true" hostspecific="true" language="C#" #>
<# 
var root = @"..\..\..\TemplateStudioForUwp\Templates\Uwp";
var outputNamespace = "TemplateStudioForUwp.Tests";
#>
<#@ include file="..\..\SharedFunctionality.Tests\GeneratedCode\TemplateTestDataGen.t4" #>
