<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  <!--{[{-->
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  <!--}]}-->
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"  
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio"
  IgnorableNamespaces="uap mp genTemplate<!--{[{--> uap3<!--}]}-->">
  <Applications>
      <Extensions>
        <!--{[{-->
        <uap3:Extension Category="windows.appUriHandler">
          <uap3:AppUriHandler>
            <uap3:Host Name="myapp.website.com"/>
          </uap3:AppUriHandler>
        </uap3:Extension>
        <!--}]}-->
      </Extensions>
  </Applications>
