<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.122" targetFramework="net472" />
  <package id="Microsoft.VSSDK.BuildTools" version="16.2.3073" targetFramework="net472" developmentDependency="true" />
</packages>